$transparent: rgba(255, 255, 255, 0);

.workarea-container {
  border: 1px solid rgba(0, 0, 139, 0.4);
  height: 100%;
  width: 71%;
  font-size: 3vh;
  font-weight: lighter;
  color: rgba(0, 0, 139, 0.5);
  padding-top: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .workarea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 10px - 3vh);
    width: 100%;
    position: relative;

    .image {
      position: absolute;
      border: 1px solid rgba(0, 0, 139, 0.4);
      height: 10vh;
      width: 30%;
      font-size: 2vh;
      font-weight: lighter;
      color: rgba(0, 0, 139, 0.5);
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      resize: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:focus {
        border: 2px solid rgba(0, 0, 139, 0.4);
      }
    }

    .text-wrapper {
      position: absolute;
      height: 4vh;
      width: 20%;
      border: 2px solid $transparent;

      &:focus {
        border-color: rgba(0, 0, 139, 0.4);
      }

      .text {
        font-size: 2vh;
        font-weight: lighter;
        color: #757575;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        resize: none;
        background-color: $transparent;
        outline: none;
        border: none;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
}
